<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-component">
    <template>
        <style>
            :host nav{
                top:0;
                width: 100%;
                height: 60px;
                background-color: rgb(0, 89, 255);
                display: table;
                box-shadow: -1px -10px 15px 7px black;
            }
            :host div.vertical-align-middle{
                display: table-cell;
                vertical-align: middle;
                align-items: center;
            }
            :host div div.corner-item, :host div div.middle-item{
                display: inline-block;
                text-align: center;
                margin: 0;
                padding: 0;
                height: 60px;
                vertical-align: middle;
            }
            :host div div.corner-item{
                width: 19%;
            }
            :host div div.middle-item{
                width: 59%;
            }
            img{
                vertical-align: middle;
            }
            h1{
                color: white;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            .hamburger-menu{
                width: 45px;
                height: 45px;
                cursor: pointer;
                background:transparent;
                margin: 15px;
            }
            .menu-line{
                display: block;
                width: 100%;
                height: 3px;
                background: white;
                margin: 10px 0;
            }
            .help-icon{
                margin: 18px;
                width:45px;
                height:45px;
                font-size: 40px;
                background: rgba(255, 250, 250,0.9);
                color: cornflowerblue;
                border-radius: 100%;
                padding: 0 6%;
                cursor: pointer;
            }
        </style>

        <nav>
            <div class="vertical-align-middle">

                <div class="corner-item">
                    <div class="hamburger-menu">
                            <span class="menu-line"></span>
                            <span class="menu-line"></span>
                            <span class="menu-line"></span>
                    </div>
                </div>

                <div class="middle-item">
                    <h1>header-component-title</h1>
                </div>

                <div class="corner-item" style="text-align: right;padding-top:15px;">
                    <span class="help-icon">?</span>
                </div>

            </div>
        </nav>
    </template>

        <script>
            class HeaderComponent extends Polymer.Element {
                static get is() { return 'header-component'; }
            }
            window.customElements.define(HeaderComponent.is, HeaderComponent);
        </script>
</dom-module>